<section class="container">

<form class="formulario"  #f="ngForm" (ngSubmit)="transferir(f)" >
    <h2 class="formulario__titulo">Nova transferência</h2>
    <div class="form-field">
      <label class="form-field__label" for="valor">Valor</label>
      <input class="form-field__input" id="valor" type="number" name="valor" [(ngModel)] = 'valor'>
    </div>
    <div class="form-field">
      <label class="form-field__label" for="destino">Conta destino</label>
      <input class="form-field__input" id="destino" type="text" name="destino" [(ngModel)] = 'destino'>
    </div>

    <div class="botao-wrapp">
      <button class="botao" id="transferir" type="submit">Transferir</button>
    </div>
  </form>
</section>


